*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #cacaca;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: none;
}

#canvas {
  border: 1px solid #393939;
  height: 480px;
  width: 640px;
  background: url("images/background.jpg");
  background-size: cover;
  /* transform: scale(1.5); */
  image-rendering: pixelated;
}
